body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    text-align: center;
}

h1 {
    color: #333;
}

p {
    color: #666;
    font-size: 16px;
}
.mi-imagen {
    width: 400px; 
    height: auto;
    border-radius: 15px; 
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}